<template>
    <div class="col-sm-6 mb-4">
        <div class="card border-info">
            <div class="card-header text-info">
                <h3>
                    {{ stock.name }}
                </h3>
                <small>(Price: {{ stock.price |currency }} | Quantity: {{ stock.quantity }})</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <input 
                            type="number"
                            class="form-control"
                            placeholder="Quantity"
                            min="0"
                            v-model="quantity"
                            :class="{'is-invalid': insufficientQuantity}">
                    </div>
                    <div class="col">
                        <button 
                            class="btn btn-info"
                            @click="sellStock"
                            :disabled="insufficientQuantity || quantity <= 0 || quantity % 1 != 0"> 
                            {{ insufficientQuantity ? 'Not enough' : 'Sell' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        props: ['stock'],
        data() {
            return {
                quantity: 0
            }
        },
        computed: {
          insufficientQuantity() {
              return this.quantity > this.stock.quantity;
          }
        },
        methods: {
            // Call to the action from modules store
            ...mapActions({
                placeSellOrder: 'sellStock'
            }),
            sellStock() {
                const order = {
                    stockId: this.stock.id,
                    stockPrice: this.stock.price,
                    quantity: this.quantity
                };
                this.placeSellOrder(order)
                this.quantity = 0;
        }
        }
    }
</script>