<template>
    <div class="col-sm-6 mb-4">
        <div class="card border-success">
            <div class="card-header text-success">
                <h3>
                    {{ stock.name }}
                </h3>
                <small>(Price: {{ stock.price | currency}})</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <input 
                            type="number"
                            class="form-control"
                            placeholder="Quantity"
                            min="0"
                            v-model="quantity"
                            :class="{'is-invalid': insufficientFunds}">
                    </div>
                    <div class="col">
                        <button 
                            class="btn btn-success"
                            @click="buyStock"
                            :disabled="insufficientFunds || quantity <= 0 || quantity % 1 != 0"> 
                            {{ insufficientFunds ? 'Not Funds' : 'Buy' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['stock'],
    data() {
        return {
            quantity: 0
        }
    },
    computed: {
        funds() {
                return this.$store.getters.funds;
        },
        insufficientFunds() {
                return this.quantity * this.stock.price > this.funds;
        }
    },
    methods: {
        buyStock() {
            const order = {
                stockId: this.stock.id,
                stockPrice: this.stock.price,
                quantity: this.quantity
            }
            console.log(order);
            this.$store.dispatch('buyStock', order);
            this.quantity = 0
        }
    }
}
</script>