<template>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <router-link class="navbar-brand" to="/">Stock Trader</router-link>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item"><router-link to="/portfolio" class="nav-link" active-class="active" tag="a">Portfolio</router-link></li>
                    <li class="nav-item"><router-link to="/stocks" class="nav-link" active-class="active" tag="a">Stocks</router-link></li>
                </ul>
                <ul class="nav navbar-nav">
                     
                    <li class="nav-item">
                        <a class="nav-link" href="#" @click="endDay">End Day</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                            href="#" 
                            id="navbarDropdown"
                            role="button" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            Save & Load
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#" @click="saveData">Save Data</a></li>
                            <li><a class="dropdown-item" href="#" @click="loadData">Load Data</a></li>
                        </ul>
                    </li>
                </ul>
                <strong>Funds: {{ funds |currency }}</strong>
            </div>
        </div>
    </nav>
</template>

<script>
    import {mapActions} from 'vuex';
    
    export default {
        data() {
          return {
              isDropdownOpen: false
          }
        },
        computed: {
            funds() {
                return this.$store.getters.funds;
            }
        },
         methods: {
            //  Changing the name of the action for avoid the same name that the method
            ...mapActions({
                randomizeStocks: 'randomizeStocks',
                fetchData: 'loadData'
            }),
            endDay() {
                this.randomizeStocks();
            },
            saveData() {
                const data = {
                    funds: this.$store.getters.funds,
                    stockPortfolio: this.$store.getters.stockPortfolio,
                    stocks: this.$store.getters.stocks
                }
                this.$http.put('data.json', data)
            },
            loadData() {
                this.fetchData();
            }
        }
    }
</script>